

<div data-hook="supplier_days_wrapper">
  <%= form.field_container :active do %>
      <%= form.label :active, Spree::Supplier.human_attribute_name(:active) %>:<br />
      <%= form.check_box :active  %>
  <% end %>


  <%= form.field_container  :timezone_offset do %>
      <%= form.label :timezone_offset, Spree::Supplier.human_attribute_name(:timezone_offset) %>:<br />
      <%= form.text_field :timezone_offset, :class => 'fullwidth text' %>
  <% end %>
  <%= form.field_container  :max_order_lead_time_days do %>
      <%= form.label :max_order_lead_time_days, Spree::Supplier.human_attribute_name(:max_order_lead_time_days) %>:<br />
      <%= form.text_field :max_order_lead_time_days, :class => 'fullwidth text' %>
  <% end %>


  <table class="hours">
    <!--http://css-tricks.com/fixing-tables-long-strings/-->
    <thead>
    <tr>
      <th class="column-desc"></th>
      <th class="column-monday">Monday</th>
      <th class="column-tuesday">Tuesday</th>
      <th class="column-wednesday">Wednesday</th>
      <th class="column-thursday">Thursday</th>
      <th class="column-friday">Friday</th>
      <th class="column-saturday">Saturday</th>
      <th class="column-sunday">Sunday</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td>taking orders today</td>
      <td><%= form.check_box :monday_open, :class => 'fullwidth text' %></td>
      <td><%= form.check_box :tuesday_open, :class => 'fullwidth text' %></td>
      <td><%= form.check_box :wednesday_open, :class => 'fullwidth text' %></td>
      <td><%= form.check_box :thursday_open, :class => 'fullwidth text' %></td>
      <td><%= form.check_box :friday_open, :class => 'fullwidth text' %></td>
      <td><%= form.check_box :saturday_open, :class => 'fullwidth text' %></td>
      <td><%= form.check_box :sunday_open, :class => 'fullwidth text' %></td>
    </tr>

    <tr>
      <td>pickup start time</td>
      <td><%= form.text_field :monday_pickup_start, :class => 'fullwidth text' %></td>
      <td><%= form.text_field :tuesday_pickup_start, :class => 'fullwidth text' %></td>
      <td><%= form.text_field :wednesday_pickup_start, :class => 'fullwidth text' %></td>
      <td><%= form.text_field :thursday_pickup_start, :class => 'fullwidth text' %></td>
      <td><%= form.text_field :friday_pickup_start, :class => 'fullwidth text' %></td>
      <td><%= form.text_field :saturday_pickup_start, :class => 'fullwidth text' %></td>
      <td><%= form.text_field :sunday_pickup_start, :class => 'fullwidth text' %></td>
    </tr>

    <tr>
      <td>pickup end time</td>
      <td><%= form.text_field :monday_pickup_end, :class => 'fullwidth text' %></td>
      <td><%= form.text_field :tuesday_pickup_end, :class => 'fullwidth text' %></td>
      <td><%= form.text_field :wednesday_pickup_end, :class => 'fullwidth text' %></td>
      <td><%= form.text_field :thursday_pickup_end, :class => 'fullwidth text' %></td>
      <td><%= form.text_field :friday_pickup_end, :class => 'fullwidth text' %></td>
      <td><%= form.text_field :saturday_pickup_end, :class => 'fullwidth text' %></td>
      <td><%= form.text_field :sunday_pickup_end, :class => 'fullwidth text' %></td>
    </tr>


    <tr>
      <td>delivery start time</td>
      <td><%= form.text_field :monday_deliveries_start, :class => 'fullwidth text' %></td>
      <td><%= form.text_field :tuesday_deliveries_start, :class => 'fullwidth text' %></td>
      <td><%= form.text_field :wednesday_deliveries_start, :class => 'fullwidth text' %></td>
      <td><%= form.text_field :thursday_deliveries_start, :class => 'fullwidth text' %></td>
      <td><%= form.text_field :friday_deliveries_start, :class => 'fullwidth text' %></td>
      <td><%= form.text_field :saturday_deliveries_start, :class => 'fullwidth text' %></td>
      <td><%= form.text_field :sunday_deliveries_start, :class => 'fullwidth text' %></td>
    </tr>

    <tr>
      <td>delivery end time</td>
      <td><%= form.text_field :monday_deliveries_end, :class => 'fullwidth text' %></td>
      <td><%= form.text_field :tuesday_deliveries_end, :class => 'fullwidth text' %></td>
      <td><%= form.text_field :wednesday_deliveries_end, :class => 'fullwidth text' %></td>
      <td><%= form.text_field :thursday_deliveries_end, :class => 'fullwidth text' %></td>
      <td><%= form.text_field :friday_deliveries_end, :class => 'fullwidth text' %></td>
      <td><%= form.text_field :saturday_deliveries_end, :class => 'fullwidth text' %></td>
      <td><%= form.text_field :sunday_deliveries_end, :class => 'fullwidth text' %></td>
    </tr>

    <tr>
      <td>lead time in hours<br /> <em>if you want a day ahead, put in 24</em></td>
      <td><%= form.text_field :monday_lead_time_in_hours, :class => 'fullwidth text' %></td>
      <td><%= form.text_field :tuesday_lead_time_in_hours, :class => 'fullwidth text' %></td>
      <td><%= form.text_field :wednesday_lead_time_in_hours, :class => 'fullwidth text' %></td>
      <td><%= form.text_field :thursday_lead_time_in_hours, :class => 'fullwidth text' %></td>
      <td><%= form.text_field :friday_lead_time_in_hours, :class => 'fullwidth text' %></td>
      <td><%= form.text_field :saturday_lead_time_in_hours, :class => 'fullwidth text' %></td>
      <td><%= form.text_field :sunday_lead_time_in_hours, :class => 'fullwidth text' %></td>
    </tr>

    </tbody>
  </table>



</div>

<div data-hook="supplier_address_wrapper" class="alpha six columns">
  <fieldset class="no-border-bottom">
    <legend align="center"><%= Spree.t('contact_address') %></legend>
    <%= form.fields_for :address do |contact_form| %>
      <%= render :partial => 'spree/admin/shared/address_form', :locals => { :f => contact_form, :name => Spree.t(:contact_address), :type => "shipping" } %>
    <% end %>
  </fieldset>
</div>

<div data-hook="supplier_details_wrapper" class="alpha six columns">
  <fieldset class="no-border-bottom">
    <legend><%= Spree.t('supplier_details') %></legend>




    <%= form.field_container :name do %>
      <%= form.label :name, Spree::Supplier.human_attribute_name(:name) %>:<br />
      <%= form.text_field :name, :class => 'fullwidth title' %>
    <% end %>
    <%= form.field_container :email do %>
      <%= form.label :email, Spree::Supplier.human_attribute_name(:email) %>:<br />
      <%= form.email_field :email, :class => 'fullwidth text' %>
    <% end %>
    <%= form.field_container :url do %>
      <%= form.label :url, Spree::Supplier.human_attribute_name(:url) %>:<br />
      <%= form.text_field :url, :class => 'fullwidth text' %>
    <% end %>
    <%= form.field_container :tax_id do %>
      <%= form.label :tax_id, Spree::Supplier.human_attribute_name(:tax_id) %>:<br />
      <%= form.text_field :tax_id, :class => 'fullwidth text' %>
    <% end %>
    <% if spree_current_user.admin? %>
      <%= form.field_container :commission_flat_rate do %>
        <%= form.label :commission_flat_rate, Spree::Supplier.human_attribute_name(:commission_flat_rate) %>:<br />
        <%= form.text_field :commission_flat_rate, :class => 'fullwidth text' %>
      <% end %>
      <%= form.field_container :commission_percentage do %>
        <%= form.label :commission_percentage, Spree::Supplier.human_attribute_name(:commission_percentage) %>:<br />
        <%= form.text_field :commission_percentage, :class => 'fullwidth text' %>
      <% end %>
      <%= form.field_container :users do %>
        <%= form.label :users %><br/>
        <%= hidden_field_tag 'supplier[user_ids_string]', form.object.user_ids.join(','), class: 'fullwidth user_picker' %>
      <% end %>

        <%= form.field_container :delivery_zip_codes do %>
            <%= form.label :delivery_zip_codes %><br/>
            <%= hidden_field_tag 'supplier[delivery_zip_codes]', form.object.delivery_zip_codes.join(','), class: 'fullwidth' %>
        <% end %>

  <% end %>

    <div class='center'>
      <% if form.object.new_record? %>
        <%= button Spree.t('create') %>
      <% else %>
        <%= button Spree.t('update') %>
      <% end %>
      <%= Spree.t('or') %>
      <% if can? :index, Spree::Supplier %>
        <%= link_to Spree.t('cancel'), collection_url %>
      <% else %>
        <%= link_to Spree.t('cancel'), spree.account_path %>
      <% end %>
    </div>
  </fieldset>
</div>
